#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <100>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_enter {
            timeout-ms = <100>;
            key-positions = <2 3>;
            bindings = <&kp ENTER>;
        };

        combo_backspace {
            timeout-ms = <100>;
            key-positions = <1 3>;
            bindings = <&kp BSPC>;
        };

        combo_space {
            timeout-ms = <100>;
            key-positions = <1 2>;
            bindings = <&kp SPACE>;
        };

        combo_tab {
            timeout-ms = <100>;
            key-positions = <0 2>;
            bindings = <&kp TAB>;
        };
    };

    behaviors {

        td_a: tap_dance_a {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_A";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <
                &kp A
                &kp ESC
            >;
        };

        td_d: tap_dance_d {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_D";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <
                &kp D
                &kp ENTER
            >;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &td_a   &kp B
                &kp C   &td_d
            >;
        };
    };
};
